<div class="card card-block">
    <div class="card-block">
        <h4 class="card-title">{{vehicleCtrl.resource.name}}</h4>
    </div>
    <img alt="Place holder text" src="http://placehold.it/500x200" class="card-img-top" />
    <div class="card-block">
        <p class="card-text">Model: {{vehicleCtrl.resource.model}}</p>
        <p class="card-text">Manufacturer: {{vehicleCtrl.resource.manufacturer}}</p>
        <p class="card-text">Films: <tags [type]="'films'" [tags]="vehicleCtrl.films"></tags></p>
    </div>
</div>
