<div class="card card-block">
    <div class="card-block">
        <h4 class="card-title">{{personCtrl.resource.name}}</h4>
    </div>
    <img alt="Place holder text" src="http://placehold.it/500x200" class="card-img-top" />
    <div class="card-block">
        <p class="card-text">Gender: {{personCtrl.resource.gender}}</p>
        <p class="card-text">Height: {{personCtrl.resource.height}} cm</p>
        <p class="card-text">Hair color: {{personCtrl.resource.hair_color}}</p>
        <p class="card-text">Home world: <tags type="'planets'" tags="personCtrl.planets"></tags></p>
        <p class="card-text">Films: <tags type="'films'" tags="personCtrl.films"></tags></p>
        <p class="card-text">Vehicles: <tags type="'vehicles'" tags="personCtrl.vehicles"></tags></p>
        <p class="card-text">Starships: <tags type="'starships'" tags="personCtrl.starships"></tags></p>
    </div>
</div>
