<div class="card card-block">
    <div class="card-block">
        <h4 class="card-title">{{planetCtrl.resource.name}}</h4>
    </div>
    <img alt="Place holder text" src="http://placehold.it/500x200" class="card-img-top" />
    <div class="card-block">
        <p class="card-text">Climate: {{planetCtrl.resource.climate}}</p>
        <p class="card-text">Terrain: {{planetCtrl.resource.terrain}}</p>
        <p class="card-text">Population: {{planetCtrl.resource.population | number: 0}}</p>
        <p class="card-text">Residents: <tags type="'people'" tags="planetCtrl.people"></tags></p>
        <p class="card-text">Films: <tags type="'films'" tags="planetCtrl.films"></tags></p>
    </div>
</div>
