<div class="card card-block">
    <div class="card-block">
        <h4 class="card-title">{{starshipCtrl.resource.name}}</h4>
    </div>
    <img alt="Place holder text" src="http://placehold.it/500x200" class="card-img-top" />
    <div class="card-block">
        <p class="card-text">Model: {{starshipCtrl.resource.model}}</p>
        <p class="card-text">Manufacturer: {{starshipCtrl.resource.manufacturer}}</p>
        <p class="card-text">Starship class: {{starshipCtrl.resource.starship_class}}</p>
        <p class="card-text">Films: <tags [type]="'films'" [tags]="starshipCtrl.films"></tags></p>
        <p class="card-text">Pilots: <tags [type]="'people'" [tags]="starshipCtrl.people"></tags></p>
    </div>
</div>
