<div class="card card-block">
    {{starshipCtrl.resource}}
    <img alt="Place holder text" src="http://placehold.it/500x200" class="card-img-top" />
    <div class="card-block">
        <h4 class="card-title">{{starshipCtrl.resource.name}}</h4>
        <p class="card-text">Model: {{starshipCtrl.resource.model}}</p>
        <p class="card-text">Manufacturer: {{starshipCtrl.resource.manufacturer}}</p>
        <p class="card-text">Starship class: {{starshipCtrl.resource.starship_class}}</p>
        <p class="card-text">Films: </p>
        <p class="card-text">Pilots: </p>
    </div>
</div>
